%CatButton-placeholder{
    width: 175px;
    height: 175px;
    position: relative;
    background-image: url(../../../../assets/cat_button_quiz.png);
    // background: linear-gradient(22deg, rgb(60, 1, 133) 77%, rgba(132,76,208,1) 100%);
    z-index: 1;
    border-radius: 10%;
    cursor: pointer;
        &::before{

            position: absolute;
            border-radius: 10%;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url(../../../../assets/cat_button--hover_quiz.png);
            background-size: cover; 
            // background: rgb(241,0,181);
            // background: linear-gradient(90deg, rgba(241,0,181,1) 0%, rgba(126,90,194,1) 100%);
            z-index: -1;
            transition: opacity 0.5s linear;
            opacity: 0;
        }
        &:hover::before{
            opacity: 1;
        }
        img{
            height: 70px;
            width: 70px;
            position: absolute;
            top: 40px;
            left: 10px;
        }   
        h3{
            border-top: 1px solid red;
            position: absolute;
            color: white;
            top: 100px;
        }
}
.navigation{
    &__button-1{
    filter: blur(10%);
    background-color: transparent;
    border-color: transparent;
    -webkit-filter: blur(10%);
}
    &__button-2{
        background-color: transparent; 
        border-color: transparent;
    }
    &__button-1:hover{
        cursor: pointer;
    }
    &__button-2:hover{
        cursor: pointer;
    }
}
.container{
    &__button{
        display: flex;
        justify-content: center;
        button{
            @extend %CatButton-placeholder;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: stretch;
            align-content: center;
            flex-direction: row;
            width: 350px;
            height: 100px;
            img{
                position: inherit;
            }
        }
        &--tech{
            @extend %CatButton-placeholder;

            h3{
                padding: 10px 60px 0px 10px;
            }
        }
        &--prog{
            @extend %CatButton-placeholder;

            h3{
                padding: 10px 30px 0px 10px;
            }
        }
        &--moto{
            @extend %CatButton-placeholder;

            h3{
                padding: 10px 60px 0px 10px;
            }
        }
        &--kult{
            @extend %CatButton-placeholder;

            h3{
                padding: 10px 90px 0px 10px;
            }
        }
        &--his{
            @extend %CatButton-placeholder;

            h3{
                padding: 10px 90px 0px 10px;
            }
        }
        &--start{
            button{
            background-image: url(../../../../assets/button--start_quiz.png);
            background-size: cover; 
            }
            
        }
    }
    &__button:hover{
        cursor: pointer;
    }
}
.quiz{
    &__button{
        &--answer{
            @extend %CatButton-placeholder;
            height: 65px;
            span{
                color:white
            }       
        }
        &--answer.click{
            background: green;
        }
        &--answer.incorrect{
            background: red;
        }
        &--finish{
            @extend %CatButton-placeholder;
        }
        &--finished{
            @extend %CatButton-placeholder;
        }
    }
    &__button:hover{
        cursor: pointer;
    }
}

