.navigation{
    &__wrapper{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    width: 100%;
    justify-content: space-around;
    }
}





