.app{
    &__wrapper{
    background: url(../../../../assets/main_background_quiz.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    // background-position-y: -30px;
    background-size: cover;
    // min-height: 110%;
    // width: 100%;
    // height: 150vh;
    padding-bottom: 50%;
    }
}
.quiz{
    &__main{
        &-wrapper{
            display: flex;
            flex-direction: column;
        }
        &--questionNum{
            background: url(../../../../assets/score_background.png);
            width: 96px;
            height: 90px;
            background-size: cover;
            position: absolute;
            left: 95.5%;
            top: -12%;
            p{
                position: absolute;
                top: 25px;
                left: 20px;
                color: white;
                font-size: 1.5rem;
            }
        }
    }
    &__header{
        position: relative;
        box-sizing: border-box;
        color: white;
        display: flex;
        font-size: 35px;
        flex-direction: row;
        justify-content: center;
        width: 75%;
        margin-top: 150px;
        background-color:rgba($color: #f1d1d1,$alpha: 0.2);
        padding: 15px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    &__wrapper{
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 100px 150px;
        &--wrapper{
            display: flex;
        }
    }
    &__check.correct{
        background: rgb(71, 6, 124);
        background: url(../../../../assets//poprawna_odpowiedź_.svg);
        width: 50px;
        height: 50px; 
        border-radius: 50%;
        border: white 1px solid;
        box-shadow: 1px  0 1px lightblue;
        margin-left: 10px;
    }
    &__resultWrapper{
        border: yellow 2px solid;
        width: 90%;
        height: 1000px;
        display: flex;
        padding: 0 50px;
        &--wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            &-Content{
                margin-left: 130px;
                display: flex;
                align-items: center;
                padding-right: -100px;
                height: 65px;
                margin-right: 220px;
                background: url(../../../../assets/result_pointsBG.png);
                p:first-child{
                    padding: 0 50px;
                    margin-left: 313px;
                    color: white;
                }
            }
        }
        &--result{
            position: relative;
            border: red 2px solid;
            flex-basis: 80%;
        }
        &--nav{
            border: lightgreen 2px solid;
            flex-basis: 20%;
        }
        &--resultPoints{
            position: unset;
            display: flex;
            width: 96px;
            height: 90px;
            background-size: cover;

            p{
                position: unset;
                color: white;
                font-size: 1.5rem;
                padding-right: 5px;
                line-height: 80px;
            }
        }
}
.categories{
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
    
        div{
            padding: 10px 10px 0 10px;
            margin-top: 50px;
            margin: 100px 0 0 0;
        }
    }
}
.container{
    &__category{
        &--Technologia{
            background: url(../../../../assets/tech_background.png);
        }
        &--Historia{
            // background: url(../../../../assets/history_background.png);
            background-origin: border-box;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
}